* {
    box-sizing: border-box;
}

#root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #293264;
}

button {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #F5F7FB;

    background: #4D5B9E;
    border: none;
    border-radius: 15px;

    padding: 15px 50px;
    margin-top: 20px;
    align-self: center;

    cursor: pointer;
}

.screen-container {
    background: #F5F7FB;
}

/* Start screen */

.screen-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    height: 100%;
}

.screen-start h1 {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 32px;
    line-height: 10px;

    padding: 0px 75px;
}

.screen-start p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/* Running screen */

.screen-running {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 75px;
    max-width: 900px;
    height: 100%;
}

.question-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    border-bottom: 0.8px solid #DBDEF0;
    padding-bottom: 15px;
}

.question-container h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.answers-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.answer {
    padding: 8px;
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

.selected {
    border: none;
    margin: 0.8px;
    background-color: #D6DBF5;
}

.correct-result {
    border: none;
    margin: 0.8px;
    background-color: #94D7A2;
    cursor: default;
}

.incorrect-result {
    border: none;
    margin: 0.8px;
    background-color: #F8BCBC;
    cursor: default;
    opacity: 0.5;
}

.not-selected-result {
    opacity: 0.5;
    cursor: default;
}

.result-container {
    align-self: center;
}

.result-container--text {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    margin-right: 30px;
}
